.parcel-cache
dist
node_modules
package.json
package-lock.json
.node-persist


reportWebVitals.js
setupTests.js
logo.svg
index.js
favicon.ico
logo192.png
logo512.png
manifest.json
robots.txt


index_live/